



<div class="wrapper wrapper-content animated fadeInRight">



    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

<div class="pull-right"><%= link_to 'Back', quests_path %></div>

                    <h5>Nova Questão</h5>

                </div>
                <div class="ibox-content">
                    
<%= render 'form' %>



                </div>
            </div>
        </div>
    </div>
</div>



