    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Bem-vindo ao Estude+</h2>

                <p>
                    O Estude+ é uma plataforma com enfoque no aprendizado e na interatividade entre alunos e professores. Por meio de listas
	  de exercício os professores podem analisar a curva de aprendizado dos seus alunos e moldar, conforme a necessidade, o seu
	  plano de aulas. Cadastre-se e tenha uma nova visão sobre o seu jeito de ensinar.
                </p>
                
                <p>The Estude+ is a platform with focus in learning and in the interaction between teachers and students. Using exercises lists,
teachers can analyse the learning curve of their students and mold, according to the necessity, their class plan. Sign in and you'll have a 
new vision about the way you teach.</p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" action="/home/minor">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Senha" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>

                        <a href="#">
                            <small>Esqueci a senha</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Não tem uma conta?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="alunos/new.html">Crie uma conta</a>
                    </form>
                    <p class="m-t">
                        <small>Estude + &copy;</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6 text-left">
                CIN - UFPE
            </div>
            <div class="col-md-6 text-right">
               <small>© 2015</small>
            </div>
        </div>
    </div>

<!--<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    <%= @mainTitle %>
                </h1>
                <small>
                    <%= @mainDesc %>
                </small>
            </div>
        </div>
    </div>
</div>-->