<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">

                <h1>
                    Estude+
                </h1>
                <small>                <p>
                    O Estude+ é uma plataforma com enfoque no aprendizado e na interatividade entre alunos e professores. Por meio de listas
	  de exercício os professores podem analisar a curva de aprendizado dos seus alunos e moldar, conforme a necessidade, o seu
	  plano de aulas. Cadastre-se e tenha uma nova visão sobre o seu jeito de ensinar.
                </p>
                <p>The Estude+ is a platform with focus in learning and in the interaction between teachers and students. Using exercises lists,
teachers can analyse the learning curve of their students and mold, according to the necessity, their class plan. Sign in and you'll have a 
new vision about the way you teach.</p></small>
            </div>
        </div>
    </div>
</div>