<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="pull-left">
            <img src="http://i.imgur.com/yftZB14.png" style="width:auto; height:40px; margin-top:10px; margin-left:20px;">
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</div>